@page "/calculator"
<PageTitle>Calculator</PageTitle>

@* https://stackoverflow.com/questions/70094020/blazor-click-calculator *@

<h1> Calculator </h1>


<style>
    * {
        margin: 0px;
        padding: 0px;
    }
</style>

<body>
    <div class="main">
        <form name="form">
            <input class="textview" name="textview" @bind="@inputValue" style="text-align:right;">
            <table>
                <tr>
                    <td><input class="button" type="button" value="7" @onclick="@(e => AddString("7"))"></td>
                    <td><input class="button" type="button" value="8" @onclick="@(e => AddString("8"))"></td>
                    <td><input class="button" type="button" value="9" @onclick="@(e => AddString("9"))"></td>
                    <td><input class="button" type="button" value="DEL" @onclick="@(e => Cmd_Operation("DEL"))"></td>
                    <td><input class="button" type="button" value="AC" @onclick="@(e => buttonClear_Click())"></td>
                </tr>
                <tr>
                    <td><input class="button" type="button" value="4" @onclick="@(e => AddString("4"))"></td>
                    <td><input class="button" type="button" value="5" @onclick="@(e => AddString("5"))"></td>
                    <td><input class="button" type="button" value="6" @onclick="@(e => AddString("6"))"></td>
                    <td><input class="button" type="button" value="x" @onclick="@(e => Cmd_Add_Operator("*"))"></td>
                    <td><input class="button" type="button" value="/" @onclick="@(e => Cmd_Add_Operator("/"))"></td>
                </tr>
                <tr>
                    <td><input class="button" type="button" value="1" @onclick="@(e => AddString("1"))"></td>
                    <td><input class="button" type="button" value="2" @onclick="@(e => AddString("2"))"></td>
                    <td><input class="button" type="button" value="3" @onclick="@(e => AddString("3"))"></td>
                    <td><input class="button" type="button" value="+" @onclick="@(e => Cmd_Add_Operator("+"))"></td>
                    <td><input class="button" type="button" value="-" @onclick="@(e => Cmd_Add_Operator("-"))"></td>
                </tr>
                <tr>
                    <td><input class="button" type="button" value="0" @onclick="@(e => AddString("0"))"></td>
                    <td><input class="button" type="button" value="." @onclick="@(e => AddString("."))"></td>
                    <td><input class="button" type="button" value="EXP"></td>
                    <td><input class="button" type="button" value="ANS"></td>
                    <td><input class="button" type="button" value="="></td>
                </tr>
            </table>
        </form>
    </div>
</body>

@* 
<h2>@buttonName</h2>
<h2>@operatorName</h2> *@



@* https://github.com/Lupusa87/LupusaBlazorDemos/blob/master/BlazorCalculatorComponent/CompBlazorCalculator.razor.cs *@

@code {
    @* private string? buttonName; *@
    @* private string? operatorName; *@
    private string? inputValue = "0";
    bool ResetState = true;
    int dot = 0;
    // private void buttonClicked() => buttonName = $"1";
    private void AddString(string s)
    {
        if (ResetState == true)
        {
            if (s != "0")
            {
                inputValue = s;
                if (s == "." && dot == 0)
                {
                    inputValue = "0.";
                    dot++;
                }
                ResetState = false;
            }
        }
        else
        {
            if (s == ".")
            {
                if (dot == 0)
                {
                    inputValue += s;
                    dot++;
                }
            }
            else
                inputValue += s;
        }
    }
    private void Cmd_Add_Operator(string s)
    { 
        dot = 0;
        inputValue += s;
    }
    private void Cmd_Operation(string s) { }
    private void buttonClear_Click()
    {
        inputValue = "0";
        dot = 0;
        ResetState = true;
    }
}
